version: "3"

services:
  surface-node:
    build:
      context: .
      dockerfile: Dockerfile.node
    env_file:
      - .env
    ports:
      - "4001:4000"

  surface-bun:
    build:
      context: .
      dockerfile: Dockerfile.bun
      target: prod
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    ports:
      - "4002:4000"

  dev:
    build:
      context: .
      dockerfile: Dockerfile.bun
      target: dev

    environment:
      - NODE_ENV=development
      - DEBUG=surface:*
      - JWT_SECRET=foo.bar.baz
      - SELF_RPC_HOST=http://dev:4000
    env_file:
      - .env
    ports:
      - "4000:4000"

    volumes:
      - .:/app
      - /app/node_modules
